.inline-icon {
  vertical-align: middle;
  margin-left: 0.3em;
  font-size: var(--pico-font-size) !important;
}

#themeSwitcherIconDesktop {
  font-size: 1.5em !important;
}

#themeSwitcherIconMobile {
  font-size: 2rem !important;
}

#mobileNavLinks.show {
  display: block;
}

#mobileNavLinks {
  display: none;
}

.back-to-top-icon {
  vertical-align: middle;
  font-size: 1.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.map-container {
  height: 80vh;
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.centred-content {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  nav,
  nav ul {
    flex-direction: row;
  }

  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 575px) {
  nav,
  nav ul {
    flex-direction: column;
  }

  aside nav ul li {
    text-align: center;
  }

  .hide-on-mobile {
    display: none;
  }

  #navToggle {
    width: 100%;
  }
}
