name: Prettier Format
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  prettier-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v5
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install --global prettier

      - name: Run prettier
        id: prettier
        run: npx prettier . --check
